<header id="header">
    <nav id="nav">
        <a href="#" id="nav-linkLeft">ToolUp</a>
        <a routerLink="/signup" id="nav-linkRight">Signup</a>
    </nav>
</header>

<section id="main">
    <div id="main-left">
        <h3 id="main-left-title">Login</h3>
        <form action="#" id="main-left-form">
            <input type="text" name="username" id="form-username" placeholder="Username">
            <input type="password" name="password" id="form-password" placeholder="Password">
            <a routerLink="/signup" id="form-linkForget">Forget password ?</a>
            <button type="submit" id="form-submit">Login</button>
        </form>
    </div>
    <div id="main-right">
        <h1 id="main-right-title">Plan your work</h1>
        <p id="main-right-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
    </div>
</section>