<app-header></app-header>

<header id="header">
    <div id="header-left">
        <h1 id="title-page"><span class="title-board {{board_color}}">{{board_name}}</span> Board</h1>
        <div id="visibility"><span class="visibility-icon {{board_visibility}}"></span><span class="visibility-text">{{board_visibility}}</span></div>
    </div>

    <div id="header-right">
        <button id="header-more" title="New column" (click)="newPopupColumn()">+</button>
    </div>    
</header>

<div id="container-columns">
    
    <div class="columns" *ngFor="let keyColumn of arrayOfKeysColumns">        
        
        <h2 class="column-title"><span class="column-title-circle"></span>{{columns[keyColumn].name}}</h2>
            
        <div *ngFor="let keyTask of arrayOfKeysTasks">
            
            <div class="task" *ngIf="tasks[keyTask].tokenID_column === columns[keyColumn].tokenID">

                <img *ngIf="tasks[keyTask].img.length > 0" src="{{tasks[keyTask].img}}" class="task-img">
                
                <h3 class="task-title" >{{tasks[keyTask].title}}</h3>

                <p class="task-text">
                    {{tasks[keyTask].text}}
                </p>

                <div class="task-color {{tasks[keyTask].color}}"></div>
                <div class="task-more"></div>
                
                <div class="overlay-task" [attr.data-task-tokenID]="tasks[keyTask].tokenID" (mousedown)="onMouseDown($event)"></div>
            </div>

        </div>

        <div [attr.data-column-tokenID]="columns[keyColumn].tokenID"></div>
        <button class="button-add-task" (click)="popupNewTask(columns[keyColumn].tokenID)">Add task</button>
    </div>
</div>

<app-popup-new-task [tokenID_column]="tokenID_column" *ngIf="displayPopupNewTask"></app-popup-new-task>

<app-popup-new-column *ngIf="displayPopupNewColumn"></app-popup-new-column>
