@import '../../../styles.scss';

#header{
    position: fixed;
    width: 99.9%;
    height: 60px;
    background-color: #fff;

    @include box-shadow-light();
    z-index: 10;
}

#button-left{
    position: absolute;
    top: 22px; left: 30px; 
    width: 24px;
    height: 16px;
    float: left;

    background: url('../../../assets/layout/header/menu.png') no-repeat center center;
    border: none;
    cursor: pointer;
    outline: none;
}

#title-center{
    margin: 13px 0;
    color: $colorPrincipal;
    font-size: 26px;
    text-align: center;
}

#photoProfil-right{
    position: absolute;
    top: 10px; right: 30px; 
    width: 40px;
    height: 40px;
    float: right;
    
    border-radius: 20px;
    cursor: pointer;
}