/*
 * Fonts
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*
 * Principal colors
*/
$colorPrincipal: #4680FF;

$colorH1: #666666;
$colorH2: #777777;
$colorH3: #888888;
$colorH4: #999999;

$colorP: #999999;

$colorIcon: #BDC3C7;

/*
 * Principal size text
*/

h1{ color: $colorH1; font-family: 'Roboto'; }
h2{ color: $colorH2; font-family: 'Roboto'; }
h3{ color: $colorH3; font-family: 'Roboto'; }
h4{ color: $colorH4; font-family: 'Roboto'; }